

@inject IJSRuntime Runtime;

<div id="@_containerId" style="width: fit-content; margin-top: 6px; 
                                margin-bottom: 6px; display: flex;cursor: pointer;">
    
    <canvas id="@_id" style="@style" @attributes="Attributes" width="@Width" height="@Height">

    </canvas>

</div>
