


<div id="@_id" class="txtroot" style="display: flex; width: fit-content; margin-top: 4px; margin-bottom: 4px;">
    <span class="span" style="width: @(TextBoxWidth)px; 
                            color: @LabelForeColor; @LabelStyle"> 
        @LabelText  
    </span>
     
    <input readOnly="@IsReadOnly"
            type=@(IsPasswordBox ? "password" : "text")             
            value="@value" @oninput="((e)=>this.OnChanged(e))"            
            class="txtbox" 
            @attributes="Attributes"

       style="height: @(TextBoxHeight)px; 
            width: @(TextBoxWidth)px;
            border-bottom-color: @BottomLineColor;       
            margin-bottom: @(EnableMarginTextBottom ? (this.MarginTextBottom) : 0 )px; 
            @TextboxStyle"

       placeholder="@PlaceholderText" 
       @onclick="((e)=> txtboxClicked(e))"
       @onfocusin="((e)=> txtboxFocusin(e))"
       @onfocusout="((e)=> txtboxFocusout(e))">     

</div>