

<div class="host">
<div class="group" style="margin-top:8px; margin-bottom: 8px; width:fit-content; box-shadow: @(EnableShadowEffect ? "rgba(0, 0, 0, 0.24) 0px 3px 8px":"") ">
    <span class="grouptitle" style="color: @TitleForeColor; @labelStyle">@GroupName</span>
    <div style="display: @(IsItemsArrangeHorizontal ? "flex" : ""); @contentStyle">
        @Content
    </div>
</div>
</div>
