@page "/"

@using System.ComponentModel.DataAnnotations;
@using RWebComponents.Controls.DonutChart
@using RWebComponents.Controls.GroupPanel
@using RWebComponents.Controls.PieChart
@using RWebComponents.Controls.Radio
@using RWebComponents.Controls.TextBox;
@using RWebComponents.Controls.Button;
@using RWebComponents.Controls.Switch;
@using RWebComponents.Controls.Checkbox;
@using RWebComponents.Controls.Canvas;

<EditForm Model="@ProfileInfo" FormName="fname" OnInvalidSubmit="OnInValidSubmit" OnValidSubmit="ValidSubmit">

    <DataAnnotationsValidator />

    <div style="padding-left: 20px;margin-top:25px;">

        <RTextbox TextboxValueChanged="@TxtValueChanged" style="{width:200px;}" LabelText="Enter Username" PlaceholderText="Username" OnClick="@TextboxClick"
                @bind-value="ProfileInfo.User.textValue">
        </RTextbox>

        <ValidationMessage style="color: blueviolet;" For="(()=> ProfileInfo.User.textValue)" />

        <br />

        <RTextbox TextboxStyle="width:200px;" LabelText="Enter Password" PlaceholderText="Password" IsPasswordBox=true
             @bind-value="ProfileInfo.User.pass">
        </RTextbox>

        <ValidationMessage style="color:blueviolet" For="(()=> ProfileInfo.User.pass)" />

        <br />

        <RSwitch DisplayLabel="Is Tenth Pass"
            @bind-value="@ProfileInfo.IsTenthPass"></RSwitch>

        <RSwitch SwitchBackColor="pink" DisplayLabel="Is Graduate"
            @bind-value="@ProfileInfo.IsCricket"></RSwitch>

        <ValidationMessage style="color:blueviolet" For="(()=> ProfileInfo.IsCricket)" />
        <br />
        <RCheckbox LabelStyle="color:blue" DisplayText="Is Cricket" GroupName="sports"
            @bind-value="@ProfileInfo.IsCricket"></RCheckbox>
        <ValidationMessage style="color:blueviolet" For="(()=> ProfileInfo.IsCricket)" />
        <br />

        <RCheckbox LabelStyle="color:blue" DisplayText="Is Tennis" GroupName="sports"
            OnChecked="TennisSelected" @bind-value="@ProfileInfo.IsTennis"></RCheckbox>
        <ValidationMessage style="color:blueviolet" For="(()=> ProfileInfo.IsTennis)" />
        <br />

        <RCheckbox LabelStyle="color:blue" DisplayText="Is Volleyball" GroupName="sports"
            @bind-value="@ProfileInfo.IsVolleyball"></RCheckbox>
        <ValidationMessage style="color:rgba(108, 65, 148, 0.616)" For="(()=> ProfileInfo.IsVolleyball)" />
        <br />

        <RGroupPanel ContentStyle="width:330px" GroupName="Sports" LabelStyle="color:purple;"
            IsItemsArrangeHorizontal="true">
            <Content>

                <RRadio LabelStyle="color:blue" DisplayText="Is Baseball" GroupName="sports"
                     @bind-value="@ProfileInfo.IsBaseball"></RRadio>

                <RRadio LabelStyle="color:blue" DisplayText="Is Football" GroupName="sports"
                    @bind-value="@ProfileInfo.IsFootball"></RRadio>

                <RRadio LabelStyle="color:blue" DisplayText="Is Hockey" GroupName="sports"
                    @bind-value="@ProfileInfo.IsHockey"></RRadio>

            </Content>
        </RGroupPanel>

        <br />
        <br />
        <RButton ButtonHeight="40px" ButtonType="submit">
            <Content>Submit</Content>
        </RButton>

        <RButton ButtonHeight="40px" BackgroundColor="orange" ButtonType="RButtonType.Button" ButtonClick="(e) => ClearForm(e)">
            <Content>Clear</Content>
        </RButton>

    </div>

    <br />

    <br/>    


    <RDonutChart DonutContainerStyle="float:left;" DataListHeight="140" ChartWidth="150" ShadowColor="blue" 
        MoveTextUpwardsFromCenterInPx="20" Opacity="0.8" Items="pieItems">
    </RDonutChart>

    <RDonutChart DonutContainerStyle="float:left;" DataListHeight="100" ChartWidth="300" ShadowColor="blue" 
        Opacity="0.8" Items="pieItems">
    </RDonutChart> 

    <RDonutChart DataListHeight="100" ChartWidth="300" ShadowColor="darkblue" Opacity="0.8" 
        Items="pieItems">
    </RDonutChart>

    <br/>
    <br/>

    <RPieChart PieContainerStyle="float:left" DataListHeight="140" ChartWidth="150"
        MoveTextUpwardsFromCenterInPx="5" RotateTextToInlineAngle="true" Items="pieItems1"
        Opacity="0.8"></RPieChart>

    
    <RPieChart PieContainerStyle="float:left" DataListHeight="100" ChartWidth="300"
        MoveTextUpwardsFromCenterInPx="-20" Items="pieItems1" Opacity="0.8"></RPieChart>

    
    <RPieChart DataListHeight="100" ChartWidth="300"
        MoveTextUpwardsFromCenterInPx="-30" ShadowColor="darkblue" Items="pieItems1"
        Opacity="0.8"></RPieChart>

    <br/>
    <br/>
    
</EditForm>




<br />
UserName : @ProfileInfo?.User?.textValue <br />
Password : @ProfileInfo?.User?.pass <br />
Tenth Pass: @ProfileInfo?.IsTenthPass <br />
IsCricket : @ProfileInfo?.IsCricket <br />
IsTennis : @ProfileInfo?.IsTennis <br />
IsVolleyBall : @ProfileInfo?.IsVolleyball <br />

IsBaseball : @ProfileInfo?.IsBaseball <br />
IsFootball : @ProfileInfo?.IsFootball <br />
IsHockey : @ProfileInfo?.IsHockey <br />

<br />


<RCanvas @ref="Canv" Width="200" Height="200"></RCanvas>

<RButton ButtonWidth="200px" ButtonClick="CreateCanvas">
    <Content>Create Canvas</Content>
</RButton>

<br />



@code {

    private EditContext? context;

    private RCanvas Canv { get; set; }

    private List<RDonutChartItem> pieItems { get; set; } = new List<RDonutChartItem>();

    private List<RPieChartItem> pieItems1 { get; set; } = new List<RPieChartItem>();


    private CanvasContext canvasContext;

    public Profile ProfileInfo { get; set; } = new Profile() { IsTenthPass = true };

    private async Task TextboxClick(EventArgs e)
    {

    }

    private async Task TxtValueChanged(string val)
    {
        
    }

    private async Task TextboxChanged(ChangeEventArgs e)
    {
        
    }

    protected override async Task OnInitializedAsync()
    {
        this.context = new(ProfileInfo);
        this.CreateDonutItems();
        this.CreatePieItems();
        await InvokeAsync(()=> StateHasChanged());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }

    private async Task OnClickHandler(MouseEventArgs e)
    {
        await InvokeAsync(()=> StateHasChanged());
    }

    private void CreateDonutItems()
    {
        var pieItem1 = new RDonutChartItem(24, "Cricket", "grey", "white");
        var pieItem2 = new RDonutChartItem(35, "Volleyball", "purple", "white");
        var pieItem3 = new RDonutChartItem(12, "Tennis", "gray", "white");
        var pieItem4 = new RDonutChartItem(44, "BaseBall", "teal", "white");
        var pieItem5 = new RDonutChartItem(14, "Hockey", "darkblue", "white");
        var pieItem6 = new RDonutChartItem(44, "Football", "#13297A", "white");

        this.pieItems.Add(pieItem1);
        this.pieItems.Add(pieItem2);
        this.pieItems.Add(pieItem3);
        this.pieItems.Add(pieItem4);
        this.pieItems.Add(pieItem5);
        this.pieItems.Add(pieItem6);
    }

    private void CreatePieItems(){
        var pieItem1 = new RPieChartItem(24, "Cricket", "grey", "white");
        var pieItem2 = new RPieChartItem(35, "Volleyball", "purple", "white");
        var pieItem3 = new RPieChartItem(12, "Tennis", "gray", "white");
        var pieItem4 = new RPieChartItem(44, "BaseBall", "teal", "white");
        var pieItem5 = new RPieChartItem(14, "Hockey", "darkblue", "white");
        var pieItem6 = new RPieChartItem(44, "Football", "#13297A", "white");

        this.pieItems1.Add(pieItem1);
        this.pieItems1.Add(pieItem2);
        this.pieItems1.Add(pieItem3);
        this.pieItems1.Add(pieItem4);
        this.pieItems1.Add(pieItem5);
        this.pieItems1.Add(pieItem6);
    }

    private async Task CreateCanvas()
    {
        var pieItem5 = new RDonutChartItem(14, "F1", "gray", "white");
        var pieItem6 = new RDonutChartItem(44, "WW", "red", "white");

        this.pieItems.Add(pieItem5);
        this.pieItems.Add(pieItem6);

        var pieItem51 = new RPieChartItem(14, "F1", "gray", "white");
        var pieItem61 = new RPieChartItem(44, "WW", "red", "white");

        this.pieItems1.Add(pieItem51);
        this.pieItems1.Add(pieItem61);
        
        await InvokeAsync(()=> StateHasChanged());
        
        
        canvasContext = await this.Canv.CreateContext2DAsync();
    
        if (canvasContext != null)
        {
            await canvasContext.BeginPathAsync();
            canvasContext.LineWidth = 2;
            var met = await canvasContext.MeasureTextAsync("Sample Title");
            await canvasContext.MoveToAsync(0, 0);
            await canvasContext.LineToAsync(300, 170);
            await canvasContext.StrokeAsync();
            await canvasContext.ClosePathAsync();

            await canvasContext.BeginPathAsync();
            var res = await canvasContext.CreateLinearGradientAsync(0, 0, 270, 0);
            await res.AddColorStopAsync(0, "blue");
            await res.AddColorStopAsync(0.7, "yellow");
            await res.AddColorStopAsync(1, "red");
            canvasContext.FillStyle = res.RsubId;
            await canvasContext.FillRectAsync(20, 20, 150, 100);
            await canvasContext.ClosePathAsync();
        }  
        
    }

    private void ClearForm(RButtonEventArgs e)
    {
        this.ProfileInfo.User.textValue = "";
        this.ProfileInfo.User.pass = "";
        this.ProfileInfo.IsTenthPass = null;
    }

    private void TennisSelected()
    {

    }

    private void SubmitForm(EditContext context)
    {

    }

    private void OnInValidSubmit()
    {

    }

    private void ValidSubmit()
    {

    }

    public void focusIn(FocusEventArgs e)
    {

    }

    public void focusOut(FocusEventArgs e)
    {

    }

}

@code {

    public class UserInfo
    {
        [Required(ErrorMessage = "please enter username!!!")]
        public string textValue { get; set; }

        [Required(ErrorMessage = "please enter password!!!")]
        public string pass { get; set; }

    }

    public class Profile
    {
        [Required(ErrorMessage = "Please enter Tenth pass or not")]
        public bool? IsTenthPass { get; set; }

        public UserInfo User { get; set; } = new UserInfo();

        [Required(ErrorMessage = "Please enter playing Cricket or not")]
        public bool? IsCricket { get; set; }

        [Required(ErrorMessage = "Please enter playing volleyball or not")]
        public bool? IsVolleyball { get; set; }

        [Required(ErrorMessage = "Please enter playing tennis or not")]
        public bool? IsTennis { get; set; }


        [Required(ErrorMessage = "Please enter playing IsBaseball or not")]
        public bool? IsBaseball { get; set; }

        [Required(ErrorMessage = "Please enter playing Football or not")]
        public bool? IsFootball { get; set; }

        [Required(ErrorMessage = "Please enter playing Hockey or not")]
        public bool? IsHockey { get; set; }
    }
}